<section class="main">

   {{#each lists}}
      <div class = "gallery">
         <img src="/uploads/db_{{this._id}}.jpg" alt="1" width = 280px height = 220px>
         <h4>{{this.title}}</h4>
         <ul>
            <li>{{this.description}}</li>
            <li>{{this.location}}</li>
            <li>{{this.price}}</li>
         </ul>   
         </div>
      
   {{/each}}



   {{!-- <div class = "gallery">
        <img src="/image/1.jpg" alt="1" width = 280px height = 220px>      
           <h4>Private Pool House with Amazing Views!</h4>
           <p> Price:$200 per night</p>
        </div>

    <div class = "gallery">
        <img src="/image/1.jpg" alt="1" width = 280px height = 220px>      
           <h4>Private Pool House with Amazing Views!</h4>
           <p> Price:$200 per night</p>
        </div>

        <div class = "gallery">
        <img src="/image/2.jpg" alt="2" width = 280px height = 220px>      
           <h4>Manhattan Lux Loft.Like.Love.Lots.Look !</h4>
           <p> Price:$262 per night</p>

        </div>

        <div class = "gallery">
        <img src="/image/3.jpg" alt="3" width = 280px height = 220px>      
           <h4>Luxury Gold Coast Hinterland Villa</h4>
           <p> Price:$220 per night</p>
        </div>

        <div class = "gallery">
        <img src="/image/4.jpg" alt="4" width = 280px height = 220px>      
           <h4>Trullo del 1800 in Valle d'Itria</h4>
           <p> Price:$132 per night</p>
        </div>

        <div class = "gallery">
        <img src="/image/5.jpg" alt="5" width = 280px height = 220px>      
           <h4>Exceptional property private beach</h4>
           <p> Price:$105 per night</p>

        </div>

        <div class = "gallery">
        <img src="/image/6.jpg" alt="6" width = 280px height = 220px>      
           <h4>WalnutTREEHOUSE</h4>
           <p>Price:$61 per night</p>
        </div> --}}

  

</section>